## Square Max-Cut

In [24]:
import dimod
import greedy
J = {(0,1):1, (1,2):1,(2,3):1,(3,0):1}
h = {}
problem = dimod.BinaryQuadraticModel(h, J, 0.0, dimod.SPIN)
solver = greedy.SteepestDescentSolver()
solution = solver.sample(problem, num_reads = 10000) 
solution.aggregate().to_pandas_dataframe().sort_values('num_occurrences',ascending=False).reset_index(drop=True)

   0  1  2  3  energy  num_occurrences  num_steps
0 -1  1 -1  1    -4.0             3825          1
1  1 -1  1 -1    -4.0             3624          1
2 -1 -1  1  1     0.0              648          0
3  1  1 -1 -1     0.0              642          0
4  1 -1 -1  1     0.0              636          0
5 -1  1  1 -1     0.0              625          0

## 1D heisenberg chain Ferro

In [23]:
import dimod
import greedy
length_1D= 10
J_spin={(i,i+1):-1 for i in range(20)}
J_spin[(length_1D,0)]=-1
N_reads=1000000

J_spin
h = {}
problem = dimod.BinaryQuadraticModel(h, J_spin, 0.0, dimod.SPIN)
solver = greedy.SteepestDescentSolver()
solution = solver.sample(problem, num_reads = N_reads) 
solution_df = solution.aggregate().to_pandas_dataframe().sort_values('num_occurrences',ascending=False).reset_index(drop=True)
print((solution_df["num_occurrences"][0]+solution_df["num_occurrences"][1])/N_reads)
solution_df

0.026798

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,energy,num_occurrences,num_steps
0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-21.0,13542,2
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,-21.0,13256,5
2,1,1,1,1,1,1,1,1,1,1,...,-1,-1,-1,-1,-1,-1,-1,-19.0,4701,3
3,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,1,1,1,1,1,1,1,-19.0,4634,5
4,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,1,1,1,-19.0,3912,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13609,-1,-1,1,1,-1,-1,1,1,1,-1,...,-1,-1,-1,1,1,-1,-1,-5.0,1,1
13610,1,-1,-1,1,1,-1,-1,1,1,1,...,1,-1,-1,1,1,-1,-1,-3.0,1,1
13611,-1,-1,1,1,-1,-1,-1,1,1,1,...,1,1,-1,-1,-1,1,1,-5.0,1,1
13612,1,1,-1,-1,1,1,1,1,-1,-1,...,1,1,-1,-1,-1,1,1,-7.0,1,0
13613,-1,1,1,-1,-1,1,1,1,-1,-1,...,1,-1,-1,-1,1,1,1,-7.0,1,1

## 1D heisenberg chain Antiferro

In [24]:
import dimod
import greedy
length_1D= 10
J_spin={(i,i+1):1 for i in range(20)}
J_spin[(length_1D,0)]=1
N_reads=1000000

J_spin
h = {}
problem = dimod.BinaryQuadraticModel(h, J_spin, 0.0, dimod.SPIN)
solver = greedy.SteepestDescentSolver()
solution = solver.sample(problem, num_reads = N_reads) 
solution_df = solution.aggregate().to_pandas_dataframe().sort_values('num_occurrences',ascending=False).reset_index(drop=True)
print((solution_df["num_occurrences"][0]+solution_df["num_occurrences"][1])/N_reads)
solution_df

0.012022

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,energy,num_occurrences,num_steps
0,1,-1,1,-1,1,-1,1,-1,1,-1,...,-1,1,-1,1,-1,1,-1,-19.0,6040,5
1,-1,1,-1,1,-1,1,-1,1,-1,1,...,1,-1,1,-1,1,-1,1,-19.0,5982,4
2,-1,1,-1,1,-1,1,-1,1,-1,-1,...,1,-1,1,-1,1,-1,1,-19.0,5307,6
3,1,-1,1,-1,1,-1,1,-1,1,1,...,-1,1,-1,1,-1,1,-1,-19.0,5117,4
4,-1,1,-1,1,-1,1,-1,1,-1,1,...,-1,1,-1,1,-1,1,-1,-19.0,4741,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13682,1,1,-1,-1,1,1,-1,-1,1,-1,...,-1,1,-1,1,-1,-1,1,-5.0,1,1
13683,1,-1,1,1,-1,1,1,-1,-1,1,...,-1,1,-1,-1,1,1,-1,-7.0,1,1
13684,-1,-1,1,-1,1,-1,-1,1,-1,-1,...,1,-1,-1,1,1,-1,1,-7.0,1,1
13685,1,1,-1,1,-1,1,-1,-1,1,-1,...,-1,1,1,-1,1,1,-1,-7.0,1,0
13686,1,-1,1,-1,-1,1,-1,1,1,-1,...,-1,-1,1,1,-1,-1,1,-7.0,1,1